*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: $color_fondo_claro;
}
.header__logo img{
    height: 100px;
}
.header__titulo h1{
    padding: 5px 0px 10px 0px;
    color: $color_tipografia_gris;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.header__nav{
    background-color: $color_fondo_medio;
}

footer{
    background-color: $color_fondo_medio;
    padding-top: 20px;
    line-height: 20px;
}
.footer__logo{
    padding-bottom: 20px;
    img{
        height: 100px;
    }
}
.footer__redes--tipografia{
    color: $color_tipografia_blanco;
}
.footer__info--tipografia{
    color: $color_tipografia_blanco;
}
